.car-card {
  @extend .m-1;
  @extend .p-1;
  background-color: $black;
}

.car-card__car-name {
  color: $orange;
}

.car-card__carsvg {
  display: inline-block;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  // background-color: $red;
  mask: url('../../assets/svg/carsvg.svg');
}

.car-card__race-track {
  border-bottom: 0.3rem dashed $teal;
  background-image: url('../../assets/svg/race-flag-red.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
